
    <%- include('layouts/header'); -%>

    <main class="cente">
      <form action="/" method="post">
        <input type="text" name="pLanguage" id="pLanguage" placeholder="programming language" />
        <button type="submit">Add</button>
      </form>

      <div>
        <ul>
          <% if(langs.length){ %>
             <% for(let x=0; x<langs.length; x++){ %>
                <li><%= langs[x] %></li>
             <%}%>
          <% }else{ %>
          <p>no data found</p>
          <%} %>
        </ul>
      </div>
    </main>
    
 <%- include('layouts/footer'); -%>
